{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Minfun</h1>
    <p class="lead">MF</p>

    <p><a href="http://www.facebook.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>QQ</h2>
        <p>
            491548526
        </p>
        <p><a class="btn btn-default" href="http://www.google.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Developing</h2>
        <p>be more patience</p>
        <p><a class="btn btn-default" href="http://www.twitter.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
